.inter{
font-family: initial;
 font-optical-sizing: auto;
}

.btn{
   color: white;
    border: none;
    padding: 16px 12px;
    border: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    
}
nav{
    width: 72%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    list-style-type : none;
    gap: 51px;
    align-items: center;
}
#banner{
    
}
#banner .banner-content p{
        font: #FFFFFF;
}

#banner .banner-content .btn2{
    colour:white;
    
}